{% if schedulerCommand.logFile is not null %}
    <div class="ui buttons">
        <a class="ui labeled icon button " href="{{ url }}">
            <i class="icon download"></i>
            {{ schedulerCommand.logFile }} - {{ size|format_bytes }}
        </a>
    </div>
{% endif %}
