/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/
/install/Application/*.local

/behat.yml
/phpspec.yml
/.phpunit.result.cache

/.idea/

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
/var/
