parameters:
	ignoreErrors:
		-
			message: '#^Call to method getEntity\(\) on an unknown class Doctrine\\ORM\\Event\\LifecycleEventArgs\.$#'
			identifier: class.notFound
			count: 1
			path: ../src/DoctrineEvent/ScheduledCommandPostRemoveEvent.php

		-
			message: '#^Parameter \$eventArgs of method Synolia\\SyliusSchedulerCommandPlugin\\DoctrineEvent\\ScheduledCommandPostRemoveEvent\:\:postRemove\(\) has invalid type Doctrine\\ORM\\Event\\LifecycleEventArgs\.$#'
			identifier: class.notFound
			count: 1
			path: ../src/DoctrineEvent/ScheduledCommandPostRemoveEvent.php

		-
			message: '#^Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: ../src/Fixture/SchedulerCommandFixture.php

		-
			message: '#^Invalid array key type float\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: ../src/Twig/BytesFormatterExtension.php
