parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
        - ../src
    excludePaths:
        - ../src/DependencyInjection/Configuration.php?
        - ../src/Migrations?
        - ../tests
        - ../spec

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::[a-zA-Z0-9]+\(\).#'
