parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false

    excludePaths:
        # Makes PHPStan crash
        - ../src/DependencyInjection/Configuration.php
        - ../src/Migrations/

        # Test dependencies
        - ../tests

        # PHPSpec
        - ../spec

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration\(\) expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface\|null given./'
        - '#^Method [\w\\]+Type::render\(\) has parameter \$[\w]+ with no typehint specified.$#'
        - '#Variable method call on Synolia\\SyliusSchedulerCommandPlugin\\Entity\\ScheduledCommand.#'
        - '#Cannot call method [a-zA-Z0-9]+\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - # caused by check if process is running in a while loop
            message: "#^Negated boolean expression is always false\\.$#"
            count: 1
            path: ../src/Runner/ScheduleCommandRunner.php
