pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#results {
    border: solid 1px;
    padding: 10px;
    overflow-y: scroll;
    height: calc(100% - 80px);
}

#log-modal {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    overflow-y: hidden;
}

#results .loader:before {
    border-color: rgba(0,0,0,.1);
}

#results .loader:after {
    border-color: #767676 transparent transparent;
}

#log-content {
    padding: 10px;
    height: calc(100% - 20px);
}

#log-results {
    height: calc(100% - 20px);
}
