pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#results {
    border: solid 1px;
    padding: 5px;
    overflow-y: scroll;
    height: calc(100% - 150px);
}

#log-modal {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
}

#log-modal .description,
#log-modal > .content,
#log-modal #content {
    height: 100%;
}

#results .loader:before {
    border-color: rgba(0,0,0,.1);
}

#results .loader:after {
    border-color: #767676 transparent transparent;
}
