sylius_grid:
    grids:
        # Grid of commands (that will be scheduled)
        synolia_admin_commands:
            driver:
                options:
                    class: Synolia\SyliusSchedulerCommandPlugin\Entity\Command
            fields:
                name:
                    type: string
                    sortable: ~
                    label: synolia.ui.scheduled_command.name
                command:
                    type: string
                    sortable: ~
                    label: synolia.ui.scheduled_command.command
                cronExpression:
                    type: scheduled_human_readable_expression
                    label: synolia.ui.scheduled_command.cron_expression
                    options:
                       template: '@SynoliaSyliusSchedulerCommandPlugin/Grid/Column/human_readable_expression.html.twig'
                priority:
                    type: string
                    sortable: ~
                    label: synolia.ui.scheduled_command.priority
                enabled:
                    type: twig
                    sortable: ~
                    label: synolia.ui.scheduled_command.enabled
                    options:
                        template: "@SyliusUi/grid/field/enabled.html.twig"
            sorting:
                name: asc
                command: asc
                priority: asc
                enabled: asc
            filters:
                name:
                    label: synolia.ui.scheduled_command.name
                    type: string
                    enabled: true
                command:
                    label: synolia.ui.scheduled_command.command
                    type: string
                    enabled: true
                cronExpression:
                    label: synolia.ui.scheduled_command.cron_expression
                    type: string
                    enabled: true
                priority:
                    label: synolia.ui.scheduled_command.priority
                    type: string
                    enabled: true
                enabled:
                    label: synolia.ui.scheduled_command.enabled
                    type: boolean
                    enabled: true
            actions:
                main:
                    create:
                        type: create
                    history:
                        type: link
                        label: synolia.menu.admin.main.configuration.scheduler_command_history
                        options:
                            class: 'btn-ghost-azure'
                            icon: 'tabler:clock'
                            link:
                                route: 'synolia_admin_scheduled_command_index'
                                parameters: {}
                item:
                    execute:
                        type: link
                        label: synolia.ui.scheduled_command.execute_immediate
                        options:
                            icon: 'tabler:refresh'
                            class: 'btn-primary'
                            link:
                                route: execute_immediate_schedule
                                parameters:
                                    commandId: resource.id
                    update:
                        type: update
                    delete:
                        type: delete
                bulk:
                    delete:
                        type: delete
        # Grid of scheduled commands (historical)
        synolia_admin_scheduled_commands:
            driver:
                options:
                    class: Synolia\SyliusSchedulerCommandPlugin\Entity\ScheduledCommand
            fields:
                name:
                    type: string
                    sortable: ~
                    label: synolia.ui.scheduled_command.name
                state:
                    type: scheduled_command_state
                    sortable: ~
                    label: synolia.ui.scheduled_command.state
                    options:
                        template: '@SynoliaSyliusSchedulerCommandPlugin/Grid/Column/scheduled_command_state.html.twig'
                executedAt:
                    type: twig
                    sortable: createdAt
                    label: synolia.ui.scheduled_command.last_execution
                    options:
                        template: '@SyliusAdmin/shared/grid/field/date.html.twig'
                        vars:
                            th_class: 'w-1 text-center'
                commandExecutionTime:
                    type: scheduled_command_execution_time
                    label: synolia.ui.scheduled_command.command_execution_time
                logFile:
                    type: scheduled_command_url
                    sortable: ~
                    label: synolia.ui.scheduled_command.log_file
                    options:
                        template: '@SynoliaSyliusSchedulerCommandPlugin/Grid/Column/log_file.html.twig'
            sorting:
                executedAt: desc
            filters:
                id:
                    label: synolia.ui.scheduled_command.id
                    type: string
                    enabled: false
                name:
                    label: synolia.ui.scheduled_command.name
                    type: string
                    enabled: true
                command:
                    label: synolia.ui.scheduled_command.command
                    type: string
                    enabled: true
                state:
                    label: synolia.ui.scheduled_command.state
                    type: string
                    enabled: true
            actions:
                main:
                    create:
                        type: create
                        label: synolia.ui.launch_a_command
                    list:
                        type: link
                        label: synolia.menu.admin.main.configuration.scheduler_command
                        options:
                            class: 'btn-ghost-azure'
                            icon: 'tabler:list'
                            link:
                                route: 'synolia_admin_command_index'
                                parameters: {}
                item:
                    delete:
                        type: delete
                bulk:
                    delete:
                        type: delete
    templates:
        action:
            link: "@SynoliaSyliusSchedulerCommandPlugin/Grid/Action/link.html.twig"
