{% set path = options.link.url|default(path(options.link.route, options.link.parameters)) %}

<form action="{{ path }}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <button class="ui orange labeled icon button" type="submit" data-requires-confirmation>
        <i class="icon recycle"></i> {{ action.label|trans }}
    </button>
</form>
