<div class="ui modal" id="log-modal">
    <div class="header">
        <a href="javascript:void(0);" onclick="closeLog(event);">
            <i class="close icon"></i>
        </a>
    </div>
    <div class="content">
        <div class="description"></div>
    </div>
</div>
