<div class="ui icon input">
    <input id="grep" type="text" placeholder="Search...">
    <i class="search icon"></i>
</div>

<div id="log-results">
    <pre id="results">
        <div class="ui active centered inline loader"></div>
    </pre>
</div>

{{ sylius_template_event('synolia.admin.command.logs.stylesheets') }}

<script type="text/javascript">
    {% autoescape 'js' %}
    /* <![CDATA[ */
    var sy_updateTime = {{ updateTime }};
    var sy_route = "{{ route }}";
    /* ]]> */
    {% endautoescape %}
</script>

{{ sylius_template_event('synolia.admin.command.logs.javascripts') }}

